html {
    font-size: 10px; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif; 
    
}

nav{
    margin-bottom: 6.5rem;
}

.main-section{
    height: 100%;
}

.content-contact-container{
 
    width: 100%;
    height: 100%;

}

.form-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-section .title-holder h2{
 font-size: 4rem;
 text-align: center;
 color: rgb(22, 22, 132);
}

.content-contact-container input,label,textarea,button{
    display: block;
}


.content-contact-container button{
    width: 17rem;
    border-radius: 10px;
    height: 3.5rem;
    background-color: rgb(42, 42, 141);
    color: aliceblue;
    margin: auto;
    font-weight: 600;
    font-size: 1.5rem;
}

.content-contact-container input,textarea{
      height: 3.5rem;
      border-radius: 10px;
      border: solid 2px gray;
      height: 5rem;
      margin-bottom: 2rem;
      width: 59rem ;
      padding-left: 2rem;
      font-family: sans-serif;
      font-size: 2rem;
 }

.content-contact-container textarea{
    height: 20rem;
    margin-bottom: 1.5rem;
    padding-left: 2rem;
    font-family: sans-serif;
    font-size: 2rem;
}

.content-contact-container label{
    font-size: 2rem;
    font-weight: 700;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .content-contact-container input,textarea{
        width: 35rem ;
   }

  .main-section .title-holder h2{
    margin-bottom: 4rem;
   }
}

/*footer styling begin*/
.footer-holder {
    display: grid;
    grid-template-columns: repeat(4,auto);
    margin-top: 15rem; 
    padding-bottom: 4rem;
  }
  
  .footer-holder .logo-side,
  .footer-holder .for-clients-side,
  .footer-holder .for-freelancers,
  .footer-holder .call-us-side {
    width: auto;
  }


  
  .footer-holder .logo-side {
    margin-left: 3.5rem; 
    margin-top: 2rem;
  }


  .footer-holder .logo-side .footer-logo-content p{
     color: black;
     line-height: 3rem;
     width: 30rem;
   }
  
  .logo-side .footer-logo-side img {
    height: 3rem;
    width: 13rem;
  }
  
  .footer-holder .for-clients-side,
  .footer-holder .for-freelancers,
  .footer-holder .call-us-side {
    margin: 1rem; 
  }
  
  .footer-holder .for-clients-side h4,
  .footer-holder .call-us-side h4,
  .footer-holder .for-freelancers h3 {
    text-align: center;
    font-family: sans-serif;
    color: black;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  
  .footer-holder .for-clients-side ul,
  .footer-holder .for-freelancers ul {
    display: block;
    text-align: center;
    padding-top: 1rem; 
  }
  
  .footer-holder .for-clients-side ul li a,
  .footer-holder .for-freelancers ul li a {
    line-height: 3rem;
    color: black;
    font-family: sans-serif;
    font-size: 1.5rem;
  }
  
  .footer-holder .call-us-side .location,
  .footer-holder .call-us-side .phone,
  .footer-holder .call-us-side .email {
    text-align: center;
    line-height: 4rem; 
  }
  
  .footer-holder .call-us-side .phone {
    padding-left: 5.2rem;
  }
  
  .footer-holder .call-us-side .email {
    padding-left: 7rem;
  }
  
  .footer-holder .call-us-side .location {
    padding-right: 3rem;
  }
  
  .footer-holder .call-us-side .location,
  .footer-holder .call-us-side .phone,
  .footer-holder .call-us-side .email {
    font-size: 1.5rem;
    color: black;
    font-family: sans-serif;
  }
  
  .footer-holder .call-us-side {
    margin-right: 3rem; 
  }
  
  .footer-holder .social-media-icons {
    margin-top: 1rem;
  }
  
  .footer-holder .social-media-icons img {
    height: 3rem;
    width: 4rem;
    padding-left: 2rem;
  }
  
  /* Responsive styles of footer */
  
  /* responsivity of less than 768 px screens */

  @media only screen and (max-width: 768px) {
    .footer-holder {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
   
    .footer-holder .logo-side,
    .footer-holder .for-clients-side,
    .footer-holder .for-freelancers,
    .footer-holder .call-us-side {
      width: 100%;
      margin-top: 3.5rem;
      text-align: center;
    }

    .footer-holder .logo-side {
          width: auto;
          margin-bottom: 1rem;   
    }

    .footer-holder .logo-side .footer-logo-content p{
        font-size: 1.5rem;
        width: 100%;
    }

    .footer-holder .social-media-icons {
        margin-right: 5rem;
    }

    .footer-holder .logo-side .footer-logo-side {
        margin-right: 4rem;
    }

  }
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer-holder {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2,1fr);
      grid-gap: 1rem;
    }
  
    .footer-holder .logo-side,
    .footer-holder .for-clients-side,
    .footer-holder .for-freelancers,
    .footer-holder .call-us-side {
      grid-column: span 1;
    }

    .footer-holder .for-freelancers{
        padding-right: 20rem;
    }
   
  }

/*****************
***footer styling*
ends ************/
