@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue_color: #1e88e5;
  --white_color: #fff;
  --bg_color: rgb(4, 27, 231);
  --grey_color: #9d9d9d;
  --border_color: rgba(151, 151, 151, 0.486);
  --loginColor: #0b2f8a;
}

html {
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
}

.login {
  max-width: 667px;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

.login .element_login {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.login .element_login h1 {
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  color: var(--loginColor);
}

.login .element_login .form form {
  width: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.login .element_login .name,
.login .element_login .e-mail,
.login .element_login .password {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 500;
}

.login .element_login label {
  font-size: 1.4rem;
  text-transform: capitalize;
}

.login .element_login input {
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(177, 177, 177);
}
.login .element_login .button_submit{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .element_login .button_submit button {
  font-size: 1.6rem;
  background-color: var(--loginColor);
  font-weight: 600;
  padding: .7rem 1.7rem;
  border-radius: 3rem;
  border: none;
  color: var(--white_color);
  cursor: pointer;
}
.login .element_login .button_submit button:hover {
  background-color: var(--blue_color);
  cursor: pointer;
}

.element_login .or_sign {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.element_login .or_sign p {
  font-size: 1.2rem;
}

.element_login .or_sign .div1 {
  background-color: var(--grey_color);
  width: 9rem;
  height: 2px;
}

.login .element_login .sociale-media ul {
  display: flex;
  gap: 2rem;
}

.login .element_login .sociale-media ul li {
  list-style: none;
}
.login .element_login .sociale-media i {
  font-size: 1.4rem;
  color: var(--blue_color);
  cursor: pointer;
}

.login .element_login .choix {
  display: flex;
  gap: 5rem;
}

.login .element_login .choix span,
a {
  font-size: 1.4rem;
  text-decoration: none;
}

.login .element_login .choix a:hover {
  cursor: pointer;
  color: red;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .login {
    max-width: 1023px;
  }
  .login .element_login h1 {
    font-size: 2.6rem;
  }
  .login .element_login input {
    border-bottom: 2.3px solid rgb(177, 177, 177);
  }
  .login .element_login .form form {
    width: 40rem;
  }
  .login .element_login label {
    font-size: 1.6rem;
  }
  .login .element_login .button_submit button {
    font-size: 1.8rem;
  }
  .element_login .or_sign p {
    font-size: 1.4rem;
  }
  .element_login .or_sign .div1 {
    width: 14rem;
  }
  .login .element_login .sociale-media ul {
    gap: 3rem;
  }
  .login .element_login .sociale-media i {
    font-size: 2rem;
  }
  .login .element_login .choix span,
  a {
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .login {
    max-width: 1279px;
  }
  .login .element_login h1 {
    font-size: 2.8rem;
  }
  .login .element_login .form form {
    width: 50rem;
  }
  .login .element_login input {
    border-bottom: 2.7px solid rgb(177, 177, 177);
  }
  .login .element_login label {
    font-size: 1.8rem;
  }
  .login .element_login .button_submit button {
    font-size: 1.8rem;
  }
  .element_login .or_sign p {
    font-size: 1.6rem;
  }
  .element_login .or_sign .div1 {
    width: 18rem;
  }
  .login .element_login .sociale-media ul {
    gap: 3rem;
  }
  .login .element_login .sociale-media i {
    font-size: 3rem;
  }
  .login .element_login .choix span,
  a {
    font-size: 1.8rem;
  }
}

@media (min-width: 1280px) {
  .login {
    min-width: 1280px;
    margin-left: 14rem;
  }
  .login .element_login h1 {
    font-size: 3rem;
  }
  .login .element_login .name input,
  .login .element_login .e-mail input,
  .login .element_login .password input {
    height: 3rem;
  }
  .login .element_login .form form {
    width: 60rem;
  }
  .login .element_login input {
    border-bottom: 3px solid rgb(177, 177, 177);
  }
  .login .element_login label {
    font-size: 2rem;
  }
  .login .element_login .button_submit button {
    font-size: 2rem;
  }
  .element_login .or_sign p {
    font-size: 1.8rem;
  }
  .element_login .or_sign .div1 {
    width: 22rem;
  }
  .login .element_login .sociale-media ul {
    gap: 4rem;
  }
  .login .element_login .sociale-media i {
    font-size: 4rem;
  }
  .login .element_login .choix span,
  a {
    font-size: 2rem;
  }
}
