html {
    font-size: 10px; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif; 
}
header{
    background-color: rgba(242, 250, 250, 1);
}
/* nav */
nav {
    width: 75%;
    margin: 0 auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10rem;
    
     
}
nav a{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1.5rem;
    color: black;
    padding: 10px;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 4rem;
}
.size-logo{
    width: 1.5rem; 
    height: auto;
    
}
nav p{
    display: flex;
    padding: 10px;
}
nav p span{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.color-login{
    background-color: rgb(5, 126, 240);
    color: white;
    padding: 10px;
    border-radius: 3rem;
}
/* end nav */

/* section 1 */
.section1{
    display: flex;
    justify-content: center;  
    background-color: rgba(242, 250, 250, 1);
}
.section1 div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.5rem;
}
.section1 div div{
    display: flex;
}
.section1 h1{
    font-size: 5rem;
}
.section1 p{
    font-size: 1.5rem;
    color: gray;
}
.section1 button{
    background-color: rgb(5, 126, 240);
    color: white;
    padding: 1rem;
    border: solid 1px rgb(5, 126, 240);
    border-radius: 1.5rem;
}
.section1 input{
    width: 100%; 
    padding: 1rem; 
    border-radius: 8px; 
    border: 1px solid #ccc; 
    background-color: #f9f9f9; 
    font-size: 1.3rem;
}
/* end section 1 */

/* section2  */
.section2{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around; 
    background-color: white; 
    border-radius: 1.5rem;
    padding: 4rem;
}
.section2:hover {
    border-color: #d0e7ff; 
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1); 
    
}
.section2 img{
    width: 7rem;
    border-radius: 50%;
    margin: 0 auto;  
}
.section2 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.section2 p{
    text-align: center;
    font-size: 1.5rem;
    color: gray;
}
.section2 h3{
    text-align: center;
    font-size: 2.5rem;
}
/* end section 2 */